.header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    @include typo-title1;
    color: var(--color-primary);
}

.loginGrid {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 25rem;
    height: 500px;
    background-color: var(--color-grey-3);
    align-items: center;
    border-radius: 10px;

    .loginTitle {
        display: flex;
        flex-direction: column;
        height: 80px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }
}

.registerGrid {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 25rem;
    height: 600px;
    background-color: var(--color-grey-3);
    align-items: center;
    border-radius: 10px;

    .registerTitle {
        display: flex;
        flex-direction: column;
        height: 80px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .spanRegister{
            @include typo-paragraph;
        }
    }
}

.profileGrid{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 600px;
    height: 600px;
    background-color: var(--color-grey-4);    
    border-radius: 10px;

}