@import "../../styles/index.scss";

.registerHeader{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    @include typo-title1;
    color: var(--color-primary);    
}

.registerFormInput{
    display: flex;  
    flex-direction: column;  
    width: 21.875rem;       
    justify-content: space-between;       
    @include typo-headline; 
    margin-top: 15px;
    margin-bottom: 10px;    
    gap: .625rem;
     

    input{
        display: flex;
        width: 100%;
        height: 40px;
        border-radius: 2px;
        background-color: var(--color-grey-2); 
        padding-left: 10px;         
        color: white;                      
    }

    select{
        display: flex;
        width: 100%;
        height: 40px;
        border-radius: 2px;
        background-color: var(--color-grey-2); 
        padding-left: 10px;         
        color: white;
    }
}

.buttonGrid{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;           
}