@import "../../styles/index.scss";

.registerHeader{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    @include typo-title1;
    color: var(--color-primary);    
}

.registerFormInput{
    display: flex;  
    flex-direction: column;  
    width: 21.875rem;       
    justify-content: center;    
    gap: 10px;    
    @include typo-title2; 
    margin-top: 25px;
    margin-bottom: 50px; 
    border: red 2px solid;
     

    input{
        display: flex;
        height: 40px;
        border-radius: 2px;
        background-color: var(--color-grey-2); 
        padding-left: 10px; 
        color: white;              
    }
}

.buttonGrid{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 50px;
    gap: 15px;    
}