@import "../../styles/index.scss";


.authFormInput{
    display: flex;    
    width: 21.875rem;
    flex-direction: column;
    justify-content: center;    
    gap: 10px;    
    @include typo-headline; 
    margin-top: 25px;
    margin-bottom: 50px; 
     

    input{
        display: flex;
        height: 40px;
        border-radius: 2px;
        background-color: var(--color-grey-2); 
        padding-left: 10px; 
        color: white;              
    }
}

.buttonGrid{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 50px;
    gap: 15px;    
}